.mainForm {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /* as the flex-direction is column */
    border: 1px dotted black;
    border-radius: 1rem;
    max-width: 500px;
    margin: auto auto;
    /* center align the flex */
    margin-top: 5rem;
    padding: 1rem
}

.mainForm button {
    border: 0 solid black;
    width: 30%;
    margin: auto auto;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #3B71CA;
    color: white;
    font-size: 10px;
}

@media screen and (min-width: 764px) {
    .mainForm button {
        font-size: 20px;
    }
}

.mainForm button:hover {
    cursor: pointer;
}